@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 120 16% 85%; /* #D0DDD0 */
    --foreground: 0 0% 0%;
 
    --card: 60 50% 89%; /* #F0F0D7 */
    --card-foreground: 0 0% 0%;
 
    --popover: 60 50% 89%; /* #F0F0D7 */
    --popover-foreground: 0 0% 0%;
 
    --primary: 120 7% 47%; /* #727D73 */
    --primary-foreground: 0 0% 100%;
 
    --secondary: 120 7% 47%; /* #727D73 */
    --secondary-foreground: 0 0% 100%;
 
    --muted: 120 7% 47%; /* #727D73 */
    --muted-foreground: 0 0% 60%;
 
    --accent: 79 12% 66%; /* #AAB99A */
    --accent-foreground: 0 0% 100%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 0%;
 
    --border: 120 7% 47%; /* #727D73 */
    --input: 120 7% 47%; /* #727D73 */
    --ring: 120 7% 47%; /* #727D73 */
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 120 3% 12%; /* #1E201E */
    --foreground: 0 0% 100%;
 
    --card: 60 3% 23%; /* #3C3D37 */
    --card-foreground: 0 0% 100%;
 
    --popover: 60 3% 23%; /* #3C3D37 */
    --popover-foreground: 0 0% 100%;
 
    --primary: 37 29% 86%; /* #ECDFCC */
    --primary-foreground: 0 0% 0%;
 
    --secondary: 37 29% 86%; /* #ECDFCC */
    --secondary-foreground: 0 0% 0%;
 
    --muted: 37 29% 86%; /* #ECDFCC */
    --muted-foreground: 0 0% 70%;
 
    --accent: 89 9% 43%; /* #697565 */
    --accent-foreground: 0 0% 100%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
 
    --border: 37 29% 86%; /* #ECDFCC */
    --input: 37 29% 86%; /* #ECDFCC */
    --ring: 37 29% 86%; /* #ECDFCC */
  }
}

@layer components {
  .bg-background {
    background-color: hsl(var(--background));
  }
  
  .text-foreground {
    color: hsl(var(--foreground));
  }
  
  .bg-card {
    background-color: hsl(var(--card));
  }
  
  .text-card-foreground {
    color: hsl(var(--card-foreground));
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}